body{
    background-color: aqua;
    height: 100px;
}
h2{
    background-color: blueviolet;
}
header{
    background-color: palevioletred;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}